*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Inter", sans-serif;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width:  auto;
    margin: 15px 30px;
}
.logo-parent{
    margin-left: 30px;
    cursor: pointer;
}
.navber{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.nav-menu ul{
    list-style: none;
    display: flex;
    gap: 20px;
    margin-left: 50px;
}
.nav-menu ul li a{
    text-decoration: none;
    font-size: 20px;
    color: #575757;
}

.nav-menu ul li:hover::after{
    width: 100%;
}
.nav-btn{
    background-color: #1D4ED8;
    width: 11rem;
    height: 40px;
    border-radius: 8px;
    margin-right: 30px;
    cursor: pointer;
    border: none;
}
.nav-btn a{
    color: white;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
}
/* Nav End */

/* Hero Start */
.hero-section{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/banner.jpg);
    height: 90vh;
    display: flex;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}
.hero-content{
    text-align: center;
    margin-top: 110px;
}
.hero-content h2{
    color: beige;
    align-items: center;
    font-size: 60px;
    font-weight: bold;
}
.hero-content p{
    color: white;
    align-items: center;
    font-size: 17px;
}
.hero-register-btn{
    background-color: #1D4ED8;
    width: 20rem;
    height: 60px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    align-items: center;
    margin-top: 30rem;
}
.hero-register-btn a{
    color: white;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
}
/* Hero End */